
/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}

.align-right {
    text-align: right;
}



.searchResult{
    text-align: center;
    display:block;

}

.imageArray{
    vertical-align:top;
    width:160px; 
}

.alignCenter{
    text-align: center;
}